* {
    padding: 0;
    margin: 0;
}

#main-container {
    max-width: 400px;
    min-height: 650px;
    background-color: lightgrey;
}

#display-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    padding: 5px 0;
}

textarea {
    text-align: right;
    background-color: inherit;
    resize: none;
    font-weight: bold;
    font-size: 30px;
    border: none;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 100px;
}

input {
    font-size: 24px;
    font-weight: bold;
}

.digit {
    background-color: ivory;
}

#history {
    font-weight: normal;
}