* {
    padding: 0;
    margin: 0;
}

#main-container {
    max-width: 320px;
    height: auto;
    margin: 20px auto 0;
    border: 2px solid gray;
    background-color: #f0f0f0;

}

#display-container {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 0;
    border-bottom: 2px solid gray;
}

textarea {
    background-color: inherit;
    resize: none;
    border: none;
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 80px;
}

input {
    font-size: 24px;
    font-weight: bold;
}

.digit {
    background-color: ivory;
}

.digit:hover {
    background-color: cornsilk;
}

input:not([disabled]) {
    cursor: pointer;
}

#history {
    font-weight: normal;
}